@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gen";
  src: url("/fonts/SourceHanSansJP-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gen";
  src: url("/fonts/SourceHanSansJP-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gen";
  src: url("/fonts/SourceHanSansJP-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gen";
  src: url("/fonts/SourceHanSansJP-Normal.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gen";
  src: url("/fonts/SourceHanSansJP-Heavy.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Add Standart Bitmap";
  src: url("/fonts/ADDSBP.TTF");
  font-weight: normal;
  font-style: normal;
}

.addsbp {
  font-family: "Add Standart Bitmap", sans-serif;
}

.qingke {
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
}

.xiaowei {
  font-family: "ZCOOL XiaoWei", sans-serif;
}

.gulzar {
  font-family: "Gulzar", serif;
}

.cormorant {
  font-family: "Cormorant Garamond", serif;
}

.gen {
  font-family: "Gen", sans-serif;
}

.zen-antique {
  font-family: "Zen Antique", serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.russio-one {
  font-family: "Russo One", sans-serif;
}

.conic {
  background: repeating-conic-gradient(#e44 0, #e44 0.8%, #000 0.8%, #000 1%);
}

.noto {
  font-family: "Noto Sans JP", sans-serif;
}

.press-start {
  font-family: "Press Start 2P", cursive;
}
